<!-- School Management System Footer -->
<footer class="bg-light text-dark py-5">
  <div class="container">
      <div class="row">
          <!-- First Column -->
          <div class="col-12 col-lg-4">
              <h4>EBLA SCHOOL</h4>
              <p>Ala Street<br>
                  Behind Par Hospital<br>
                  Phone: 07509769008<br>
                  Fax: 07509729008<br>
                  Email: <a href="mailto:info@eblaerbil.com">info@eblaerbil.com</a></p>
              <p>Saturday-Thursday: 9:00 AM – 4:00 PM</p>
          </div>

          <!-- Second Column -->
          <div class="col-12 col-lg-4">
              <h4>QUICK LINKS</h4>
              <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Admission</a></li>
              </ul>
          </div>

          <!-- Third Column -->
          <div class="col-12 col-lg-4">
              <h4>MENU</h4>
              <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Activities</a></li>
                  <li><a href="#">Latest News</a></li>
                  <li><a href="#">Admissions</a></li>
              </ul>
          </div>
      </div>

      <!-- Copyright Information -->
      <div class="row mt-4">
          <div class="col-lg-12 text-center">
              <p>&copy; 2023 - 2024 | Developed By EBLA's School | All Rights Reserved</p>
          </div>
      </div>
  </div>
</footer>
