<section class="hero-section text-center mt-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <h1 class="display-4">Welcome to Our School Management System</h1>
              <p class="lead">Empowering Education, Connecting Communities</p>
              <a (click)="gotoLoginPage()" class="btn btn-primary btn-md text-white font-weight-bold">Get started</a>
          </div>
      </div>
  </div>
</section>

<section id="features-section" class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h2>Student Management</h2>
              <p>Effortlessly manage student records, enrollment, and academic performance. Keep track of attendance and generate insightful reports.</p>
          </div>

          <div class="col-md-4">
              <h2>Course Management</h2>
              <p>Create and organize courses with ease. Assign instructors, schedule classes, and monitor the progress of each course in real-time.</p>
          </div>

          <div class="col-md-4">
              <h2>Communication Hub</h2>
              <p>Facilitate seamless communication between teachers, students, and parents. Send announcements, updates, and feedback instantly.</p>
          </div>
      </div>
  </div>
</section>
