<section class="hero-section text-center mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="display-4">Welcome To Ebla’s School</h1>
        <p class="lead mb-5">Where A World Of Learning And Discovery Awaits!</p>
        <a (click)="gotoLoginPage()" class="btn btn-md text-white font-weight-bold">Get started</a>
      </div>
    </div>
  </div>
</section>

<section id="features-section" class="py-5">
  <div class="container">
    <h1 class="text-center mb-5">Our Educational Stages</h1>
    <div class="row">
      <div class="row justify-content-center m-md-3 m-3">
        <div class="col-md-12">
          <h3 class="text-md-center">Nurturing Lifelong Learners: Exploring Educational Stages</h3>
          <p class="text-md-center text-justify">Here, we celebrate the journey of learning and the educational stages that shape the lives of our students.
            From the early years of curiosity and wonder to the transformative experiences of adolescence and the
            preparation for higher education, each stage plays a vital role in nurturing lifelong learners. Join us as
            we
            delve into the significance and unique characteristics of each educational stage, highlighting the
            opportunities for growth and development along the way.</p>
        </div>
      </div>

      <div class="row  m-md-3 m-3">
        <div class="col-md-4">
          <img src="../../../assets/images/open-book.png" width="100%" height="auto" alt="" srcset="">
        </div>
        <div class="col-md-8">
          <h3>Early Childhood Education</h3>
          <p class="text-justify">Early childhood education sets the foundation for a child’s educational journey. This stage, typically
            encompassing preschool and kindergarten, emphasizes social, emotional, physical, and cognitive development.
            Through play-based learning and hands-on activities, young learners explore the world around them, build
            relationships, and develop essential skills. Our school’s early childhood program provides a nurturing
            environment that fosters curiosity, creativity, and a love for learning, laying the groundwork for future
            educational</p>
        </div>
      </div>

      <div class="row  m-md-3 m-3">
        <div class="col-md-8">
          <h3>Primary Education</h3>
          <p class="text-justify">Our schools includes the grades from First till Eighth grade</p>

          <p>Primary education marks a significant transition from early childhood to a more structured learning
            environment. At this stage, students build upon their foundational knowledge and develop literacy, numeracy,
            and critical thinking skills. Our primary curriculum focuses on a well-rounded education, offering subjects
            such as mathematics, language arts, science, social studies, and the arts. We encourage active
            participation,
            collaboration, and the cultivation of a growth mindset to empower students to become independent thinkers
            and
            problem solvers.</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/images/child-reading.png" width="100%" height="100%" alt="" srcset="">
        </div>

      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
