    .navbar-custom {
      background-color: rgb(0,123,255);
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-nav .nav-link {
      color: #fff;
    }



.active {
  font-weight: bolder;
}
